.u-section-1 .u-sheet-1 {
  min-height: 865px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  margin: 4px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 4px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/photo_2024-01-12_01-26-54.jpg");
  background-position: 50% 50%;
  margin: 60px auto 60px 285px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 348px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 288px;
}

.u-section-2 .u-line-1 {
  margin-top: 1px;
  margin-bottom: 0;
  transform-origin: right center 0px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -3px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 69px;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-line-2 {
  margin-top: 16px;
  margin-bottom: 0;
  transform-origin: right center 0px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 700;
  margin: 23px 100px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -1px;
    height: 3px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -2px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 57px;
  }

  .u-section-2 .u-line-2 {
    transform-origin: right center;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 30px 0 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 36px;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -4px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 40px;
    margin-bottom: 16px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 948px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 765px;
  grid-template-columns: auto auto auto;
  width: 936px;
  grid-gap: 10px 10px;
  margin: 30px auto 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-8 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-9 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1631px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    width: 720px;
    height: 1484px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4167px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: auto;
    width: 540px;
    height: 4034px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2703px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    height: 2570px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 727px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 36px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 20px 394px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 32px;
}

.u-section-4 .u-icon-2 {
  height: 32px;
  color: rgb(85, 172, 238) !important;
}

.u-section-4 .u-icon-3 {
  height: 32px;
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .u-form-1 {
  height: 499px;
  margin: 8px 76px -54px 0;
}

.u-section-4 .u-form-group-1 {
  width: 100%;
}

.u-section-4 .u-label-1 {
  font-weight: 700;
}

.u-section-4 .u-form-group-2 {
  width: 100%;
}

.u-section-4 .u-label-2 {
  font-weight: 700;
}

.u-section-4 .u-form-group-3 {
  width: 100%;
}

.u-section-4 .u-label-3 {
  font-weight: 700;
}

.u-section-4 .u-form-group-4 {
  width: 100%;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 35px 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 690px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -44px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 702px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-right: 404px;
    margin-left: 10px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}